{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog</title>
    </head>

    <body>
        <header>
        <nav>
            <a href="{% url 'list_jokes' %}">Main page</a>
        </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
