{% extends 'base.html' %}

{% block content %}
<main>
   <h1>Tell a funny joke!</h1>
   <form method="joke">
        {%csrf_token%}
        {{ form.as_p }}
        <button>Publish</button>
   </form>
</main>
{% endblock content %}
