{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Joke Page - Land of a Million Laughs</h1>

        <div>
            <h2>What type of joke would you like to hear?</h2>
            <form method="get" action="{% url 'list_jokes' %}">
                {{ tag_filter_form.as_p }}
                <button type="submit">Filter</button>
            </form>
        </div>

        <div>
            {% for joke in jokes %}
            <div>
                <h2>{{ joke.title }}</h2>
                <img src="{{ joke.photo }}" alt="{{ joke.alt_text }}">
                <div>
                    {{ joke.created_on|date:"d/m/y" }}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
